@{
    ViewData["Title"] = "BMGFDashboard";
}

<!doctype html>
<html lang="en">
<head>
    <title>Login page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="TopHead">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col">
                    <div class="logo">
                        <img src="~/images/logo.jpg" class="img-responsive">
                        <svg width="119.862" height="34.542" viewBox="0 0 119.862 69.542">
                            <defs>
                                <style>
                                    .a {
                                        fill: #fff;
                                    }
                                </style>
                            </defs>
                            <g transform="translate(0 55.542)"><path class="a" d="M27.444,6.567V-7.02H31.3a3.859,3.859,0,0,1,2.786.905A3.617,3.617,0,0,1,35.026-3.4a3.007,3.007,0,0,1-.474,1.68A3.192,3.192,0,0,1,33.268-.591,2.577,2.577,0,0,1,34.742.557a3.856,3.856,0,0,1,.544,2.09,3.986,3.986,0,0,1-1,2.874,3.761,3.761,0,0,1-2.851,1.045Zm1.7-6.355V5.1h2.326a1.949,1.949,0,0,0,1.535-.639,2.615,2.615,0,0,0,.568-1.8q0-2.454-2.065-2.454Zm0-1.437h2.186a1.841,1.841,0,0,0,1.428-.6,2.264,2.264,0,0,0,.544-1.586,2.276,2.276,0,0,0-.493-1.628A2.012,2.012,0,0,0,31.3-5.546H29.147ZM48.742.968A6.792,6.792,0,0,1,47.56,5.251a4.024,4.024,0,0,1-3.358,1.5,4.073,4.073,0,0,1-3.307-1.46,6.473,6.473,0,0,1-1.261-4.129V-1.393a6.8,6.8,0,0,1,1.2-4.269,4,4,0,0,1,3.349-1.544,4.049,4.049,0,0,1,3.335,1.479,6.68,6.68,0,0,1,1.223,4.223Zm-1.7-2.38a5.837,5.837,0,0,0-.7-3.205,2.412,2.412,0,0,0-2.154-1.05A2.4,2.4,0,0,0,42.057-4.6a5.65,5.65,0,0,0-.73,3.135V.968a5.77,5.77,0,0,0,.721,3.173,2.7,2.7,0,0,0,4.275.084,5.676,5.676,0,0,0,.716-3.089ZM59.592,3.021H55.014L53.963,6.567H52.214L56.577-7.02h1.461L62.41,6.567H60.661ZM55.461,1.546h3.693L57.3-4.631ZM71.943,1.07H69.561v5.5H67.849V-7.02h3.8a4.046,4.046,0,0,1,3.014,1.04,4.171,4.171,0,0,1,1.023,3.047,4.244,4.244,0,0,1-.554,2.2A3.5,3.5,0,0,1,73.561.678l2.623,5.776v.112H74.352ZM69.561-.395h2.065a2.211,2.211,0,0,0,1.707-.691,2.617,2.617,0,0,0,.637-1.848q0-2.613-2.363-2.613H69.561Zm12,6.961V-7.02h3.228a4.652,4.652,0,0,1,3.684,1.488,6.123,6.123,0,0,1,1.312,4.185V.93A5.994,5.994,0,0,1,88.452,5.1a4.941,4.941,0,0,1-3.861,1.47Zm1.7-12.113V5.1h1.368A3.165,3.165,0,0,0,87.252,4.07,4.879,4.879,0,0,0,88.1,1.014V-1.393a4.928,4.928,0,0,0-.823-3.149,3.032,3.032,0,0,0-2.489-1Z" transform="translate(29.662 7.207)" /><path class="a" d="M.767,6.567V-7.02H3.995A4.652,4.652,0,0,1,7.679-5.532,6.122,6.122,0,0,1,8.991-1.347V.93A5.994,5.994,0,0,1,7.66,5.1,4.942,4.942,0,0,1,3.8,6.567Zm1.7-12.113V5.1H3.837A3.165,3.165,0,0,0,6.46,4.07a4.879,4.879,0,0,0,.847-3.056V-1.393a4.928,4.928,0,0,0-.823-3.149,3.032,3.032,0,0,0-2.489-1ZM21.555,3.021H16.978L15.927,6.567H14.178L18.541-7.02H20L24.374,6.567H22.625ZM17.425,1.546h3.693L19.267-4.631Zm18.3,1.586a2.092,2.092,0,0,0-.549-1.558A5.618,5.618,0,0,0,33.2.52,8.591,8.591,0,0,1,31.008-.558a3.811,3.811,0,0,1-1.135-1.288A3.533,3.533,0,0,1,29.5-3.5a3.551,3.551,0,0,1,1.075-2.66,3.865,3.865,0,0,1,2.814-1.045,4.168,4.168,0,0,1,2.121.537,3.653,3.653,0,0,1,1.433,1.488,4.409,4.409,0,0,1,.5,2.09H35.73a2.866,2.866,0,0,0-.6-1.95,2.189,2.189,0,0,0-1.74-.691,2.14,2.14,0,0,0-1.6.579,2.22,2.22,0,0,0-.567,1.624,1.894,1.894,0,0,0,.614,1.437,5.442,5.442,0,0,0,1.9,1.036A6.52,6.52,0,0,1,36.59.576a3.684,3.684,0,0,1,.861,2.538,3.439,3.439,0,0,1-1.07,2.646,4.11,4.11,0,0,1-2.912.994,4.673,4.673,0,0,1-2.182-.518A3.908,3.908,0,0,1,29.715,4.78a4.047,4.047,0,0,1-.572-2.151h1.712a2.644,2.644,0,0,0,.7,1.96,2.589,2.589,0,0,0,1.912.7,2.272,2.272,0,0,0,1.693-.579A2.155,2.155,0,0,0,35.73,3.133ZM52.146,6.567H50.434V.286H44.983v6.28h-1.7V-7.02h1.7v5.842h5.452V-7.02h1.712Z" transform="translate(-0.767 7.247)" /></g>
                            <path class="a" d="M4.817.107v6.5H1.079V-11.845H8.155a8.068,8.068,0,0,1,3.594.761,5.542,5.542,0,0,1,2.386,2.161,6.106,6.106,0,0,1,.835,3.188,5.34,5.34,0,0,1-1.825,4.278A7.514,7.514,0,0,1,8.093.107Zm0-3.08H8.155a3.246,3.246,0,0,0,2.261-.71A2.605,2.605,0,0,0,11.2-5.711,3.075,3.075,0,0,0,10.41-7.9a2.906,2.906,0,0,0-2.168-.862H4.817Zm19.752-.7a9.617,9.617,0,0,0-1.3-.1,2.627,2.627,0,0,0-2.679,1.407V6.61h-3.6V-7.1h3.4l.1,1.635a3.33,3.33,0,0,1,3-1.889,3.713,3.713,0,0,1,1.121.165Zm.416,3.3a8.252,8.252,0,0,1,.772-3.638,5.717,5.717,0,0,1,2.224-2.472,6.4,6.4,0,0,1,3.37-.875A6.08,6.08,0,0,1,35.8-5.66,6.874,6.874,0,0,1,37.73-1.046l.025.938a7.244,7.244,0,0,1-1.732,5.064,5.968,5.968,0,0,1-4.647,1.908,6,6,0,0,1-4.653-1.9A7.373,7.373,0,0,1,24.985-.21Zm3.6.266a5.181,5.181,0,0,0,.723,2.985,2.571,2.571,0,0,0,4.111.013,5.671,5.671,0,0,0,.735-3.264,5.129,5.129,0,0,0-.735-2.966,2.378,2.378,0,0,0-2.068-1.052,2.339,2.339,0,0,0-2.043,1.046A5.767,5.767,0,0,0,28.585-.108Zm14.893-7V7.358a4.958,4.958,0,0,1-1.184,3.53,4.455,4.455,0,0,1-3.414,1.261,7.2,7.2,0,0,1-1.782-.215v-2.9a6.646,6.646,0,0,0,1.134.114q1.632,0,1.632-1.762V-7.1Zm-3.9-3.549a1.82,1.82,0,0,1,.542-1.356,2.015,2.015,0,0,1,1.476-.532,2.015,2.015,0,0,1,1.476.532,1.82,1.82,0,0,1,.542,1.356,1.814,1.814,0,0,1-.554,1.369,2.025,2.025,0,0,1-1.464.532,2.025,2.025,0,0,1-1.464-.532A1.814,1.814,0,0,1,39.579-10.654ZM52.192,6.863a6.555,6.555,0,0,1-4.828-1.851A6.64,6.64,0,0,1,45.5.082V-.273a8.406,8.406,0,0,1,.785-3.695,5.826,5.826,0,0,1,2.224-2.51,6.16,6.16,0,0,1,3.283-.881,5.546,5.546,0,0,1,4.354,1.775A7.292,7.292,0,0,1,57.736-.552v1.5H49.152A3.424,3.424,0,0,0,50.2,3.1a3.15,3.15,0,0,0,2.224.811A3.861,3.861,0,0,0,55.68,2.376l1.769,2.015A5.426,5.426,0,0,1,55.257,6.21,7.089,7.089,0,0,1,52.192,6.863ZM51.781-4.392a2.236,2.236,0,0,0-1.738.735,3.832,3.832,0,0,0-.853,2.1H54.2v-.292a2.736,2.736,0,0,0-.648-1.882A2.3,2.3,0,0,0,51.781-4.392Zm13.3,8.3a2.336,2.336,0,0,0,1.62-.558,1.969,1.969,0,0,0,.648-1.483h3.376a4.758,4.758,0,0,1-.748,2.554,4.96,4.96,0,0,1-2.012,1.8,6.208,6.208,0,0,1-2.822.64,5.8,5.8,0,0,1-4.56-1.87A7.481,7.481,0,0,1,58.912-.172V-.412A7.4,7.4,0,0,1,60.569-5.47a5.736,5.736,0,0,1,4.547-1.889,5.612,5.612,0,0,1,4.055,1.464A5.229,5.229,0,0,1,70.723-2H67.346a2.521,2.521,0,0,0-.648-1.73,2.147,2.147,0,0,0-1.645-.665,2.157,2.157,0,0,0-1.9.932,5.469,5.469,0,0,0-.642,3.023v.38a5.538,5.538,0,0,0,.635,3.042A2.184,2.184,0,0,0,65.079,3.91Zm11.7-14.386V-7.1h2.3v2.687h-2.3V2.427a1.655,1.655,0,0,0,.287,1.09,1.423,1.423,0,0,0,1.1.33,5.646,5.646,0,0,0,1.059-.089V6.534a7.3,7.3,0,0,1-2.18.33q-3.787,0-3.862-3.891v-7.39H71.214V-7.1h1.968v-3.372ZM5.963,14.113,10.622,27.5l4.635-13.385h4.909V32.568h-3.75V27.524l.374-8.708-4.9,13.753H9.327L4.443,18.829l.374,8.7v5.045H1.079V14.113ZM22.326,25.584a8.252,8.252,0,0,1,.772-3.638,5.717,5.717,0,0,1,2.224-2.472,6.4,6.4,0,0,1,3.37-.875,6.08,6.08,0,0,1,4.454,1.7,6.874,6.874,0,0,1,1.925,4.614l.025.938a7.244,7.244,0,0,1-1.732,5.064,5.968,5.968,0,0,1-4.647,1.908,6,6,0,0,1-4.653-1.9,7.373,7.373,0,0,1-1.738-5.171Zm3.6.266a5.181,5.181,0,0,0,.723,2.985,2.571,2.571,0,0,0,4.111.013,5.671,5.671,0,0,0,.735-3.264,5.129,5.129,0,0,0-.735-2.966,2.378,2.378,0,0,0-2.068-1.052,2.339,2.339,0,0,0-2.043,1.046A5.767,5.767,0,0,0,25.926,25.851Zm14.395-7,.112,1.584A4.675,4.675,0,0,1,44.308,18.6a3.878,3.878,0,0,1,3.189,1.28,6.047,6.047,0,0,1,1.071,3.828v8.86h-3.6V23.8a2.4,2.4,0,0,0-.5-1.692,2.207,2.207,0,0,0-1.657-.526,2.469,2.469,0,0,0-2.28,1.318v9.671h-3.6V18.854ZM54.79,32.568H51.177V18.854H54.79ZM50.966,15.3a1.82,1.82,0,0,1,.542-1.356,2.3,2.3,0,0,1,2.946,0,1.96,1.96,0,0,1-.006,2.725,2.279,2.279,0,0,1-2.928,0A1.814,1.814,0,0,1,50.966,15.3Zm10.794.177v3.372h2.3v2.687h-2.3v6.845a1.655,1.655,0,0,0,.287,1.09,1.423,1.423,0,0,0,1.1.33,5.646,5.646,0,0,0,1.059-.089v2.776a7.3,7.3,0,0,1-2.18.33q-3.787,0-3.862-3.891v-7.39H56.191V18.854h1.968V15.482Zm3.07,10.1a8.252,8.252,0,0,1,.772-3.638,5.717,5.717,0,0,1,2.224-2.472A6.4,6.4,0,0,1,71.2,18.6a6.08,6.08,0,0,1,4.454,1.7,6.874,6.874,0,0,1,1.925,4.614l.025.938a7.244,7.244,0,0,1-1.732,5.064,6.629,6.629,0,0,1-9.3.006,7.373,7.373,0,0,1-1.738-5.171Zm3.6.266a5.181,5.181,0,0,0,.723,2.985,2.571,2.571,0,0,0,4.111.013A5.671,5.671,0,0,0,74,25.584a5.129,5.129,0,0,0-.735-2.966A2.378,2.378,0,0,0,71.2,21.566a2.339,2.339,0,0,0-2.043,1.046A5.767,5.767,0,0,0,68.43,25.851Zm18.655-3.562a9.617,9.617,0,0,0-1.3-.1,2.627,2.627,0,0,0-2.679,1.407v8.974h-3.6V18.854h3.4l.1,1.635a3.33,3.33,0,0,1,3-1.889,3.713,3.713,0,0,1,1.121.165Zm5.225,10.28H88.7V18.854h3.613ZM88.486,15.3a1.82,1.82,0,0,1,.542-1.356,2.3,2.3,0,0,1,2.946,0,1.96,1.96,0,0,1-.006,2.725,2.279,2.279,0,0,1-2.928,0A1.814,1.814,0,0,1,88.486,15.3Zm9.8,3.549.112,1.584a4.675,4.675,0,0,1,3.875-1.838,3.878,3.878,0,0,1,3.189,1.28,6.047,6.047,0,0,1,1.071,3.828v8.86h-3.6V23.8a2.4,2.4,0,0,0-.5-1.692,2.207,2.207,0,0,0-1.657-.526A2.469,2.469,0,0,0,98.5,22.9v9.671H94.9V18.854ZM108.43,25.61a8.136,8.136,0,0,1,1.476-5.083,4.754,4.754,0,0,1,3.98-1.927,4.165,4.165,0,0,1,3.451,1.546l.15-1.293h3.264V32.112a5.94,5.94,0,0,1-.8,3.131,5.19,5.19,0,0,1-2.261,2.028,7.833,7.833,0,0,1-3.414.7,7.283,7.283,0,0,1-2.89-.6,5.135,5.135,0,0,1-2.13-1.553l1.595-2.231a4.188,4.188,0,0,0,3.264,1.534,3.055,3.055,0,0,0,2.23-.78,2.953,2.953,0,0,0,.8-2.212V31.39a4.132,4.132,0,0,1-3.277,1.432,4.742,4.742,0,0,1-3.931-1.933,8.133,8.133,0,0,1-1.5-5.127Zm3.6.266a5.057,5.057,0,0,0,.735,2.922,2.328,2.328,0,0,0,2.018,1.058,2.491,2.491,0,0,0,2.355-1.255V22.834a2.485,2.485,0,0,0-2.33-1.255,2.343,2.343,0,0,0-2.037,1.077A5.7,5.7,0,0,0,112.031,25.876Z" transform="translate(-0.889 12.542)" />
                        </svg>
                    </div>
                </div>
                <div class="col-sm-4 offset-sm-4 col">
                    <div class="user">
                        <div class="userName">
                            <p>@ViewBag.userName</p>
                            <p>@ViewBag.organization</p>
                        </div>
                        <div class="userPic">
                            <a href="/Login/Logout">
                                <i class="fas fa-user"></i>
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 mynav">
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="index.html"><i class="fas fa-home"></i></a></li>
                        <li class="nav-item"><a class="nav-link active" href="/BMGFDashboard/StratagicGoals"><i class="fas fa-mountain"></i> STRATAGIC GOALS</a></li>
                        <li class="nav-item"><a class="nav-link" href="/BMGFDashboard/BodyofWork"><i class="fas fa-book"></i> BODY OF WORK</a></li>
                        <li class="nav-item"><a class="nav-link" href="/BMGFDashboard/Geographices"><i class="fas fa-map-marker-alt"></i> GEOGRAPHIES</a></li>
                        <li class="nav-item"><a class="nav-link" href="/BMGFDashboard/Grants"><i class="fas fa-archive"></i> GRANTS</a></li>
                        <li class="nav-item"><a class="nav-link" href="/BMGFDashboard/KeyInfoandDataSources"><i class="fas fa-info-circle"></i> KEY INFO &amp; DATA SOURCES</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="bCumbs">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <ul class="breadcrum">
                        <li class="breadcrumb-item active" aria-current="page">Home <i class="fas fa-chevron-right"></i> Strategic Goals</li>
                        <li>Strategic Goals</li>
                    </ul>
                </div>
                <div class="col-sm-2 offset-sm-6">
                    <div class="btPrint">
                        <a href="#" onclick="window.print();return false;" class="clor">
                            <i class="fas fa-print"></i> <br>
                            Print
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="wrap">

        <section class="Ryear">
            <div class="container">
                <div class="row">
                    <img src="~/images/strgics-1-heade.JPG">
                </div>
            </div>
        </section>

        <section class="indicator">
            <div class="container">
                <div class="row">
                    <img src="~/images/desgns-strgs1.JPG">
                    <img src="~/images/desgns-strgs2.JPG">
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">

                </div>
            </div>
        </section>

        <section class="img2">
            <div class="container">
                <div class="row">

                </div>
            </div>
        </section>


        <section class="footer">
            <div class="container">
                <div class="row text-center">
                    <p><a href="#"> Copyright by 2021 </a></p>
                </div>
            </div>
        </section>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
